@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #4E56C0, #9B5DE0, #D78FEE);
  }

  .text-heading {
    @apply text-3xl sm:text-4xl md:text-5xl font-bold tracking-tight text-white;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2 {
  font-family: var(--font-roboto), sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  section[id] {
    scroll-margin-top: 5.5rem;
  }
}
